.metadata/
bin/
gen/
.settings/
target/


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.log
*.dex
*.apk
*.ap_
*.class
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
